/* grid-based layout with styles making use of the flexbox layout */
#restaurants-list {
    display: flex;
    flex-wrap: wrap;
}

/* fit mobile phone portrait*/
@media screen and (max-width: 420px) {
    /* ====================== Homepage ====================== */
    .filter-options {
        height: 130px;
    }
    .filter-options select {
        width: 90%;
    }
    #restaurants-list li h1 {
        font-size: 12pt;
    }
    #restaurants-list p {
        margin: 0;
        font-size: 15pt;
    }

    /* ====================== Restaurant Details ====================== */

    .inside #maincontent {
        margin-top: 135px;
        position: relative;
    }   

    .inside #map-container {
        height: 300px;
        width: 100%;
        position: static;
    }

    #breadcrumb,
    #restaurant-container,
    #reviews-container,
    .inside #footer {
        width: 100%;
    }

    #breadcrumb li{
        font-size: 20px;
    }

    header h1,
    #restaurant-name,
    #reviews-container h2 {
        font-size: 14pt;
    }

    #restaurant-container {
        padding-top: 20px;
    }

    /* reviews */
    .reviews-item {
        border-radius: 15px 0;
    }
    .reviews-name {
        float: left;
        width: 48%;
        background-color: #252831;
        color: white;
        padding-left: 2%;
        border-radius: 3px 0 0 3px;
        border-right: none;
    }
    .reviews-date {
        float: right;
        width: 48%;  
        background-color: #252831;
        color: white;
        text-align: right;
        padding-right: 2%;
        border-radius: 0 3px 3px 0;                                        
    }
    .reviews-rating {
        clear: both;
        background-color: #f58500;
        color: white;
        border-radius: 3px; 
        padding-left: 2%;
    }

}

/* fit pad portrait*/
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation: portrait) {
    /* ====================== Homepage ====================== */
    .filter-options h2,
    #neighborhoods-select,
    #cuisines-select {
        font-size: 20px;
    }
    .filter-options select {
        width: 30%;
    }
    /* ====================== Restaurant Details ====================== */

    .inside #maincontent {
        margin-top: 135px;
        position: relative;
    }   

    .inside #map-container {
        height: 300px;
        width: 100%;
        position: static;
    }

    #breadcrumb,
    #restaurant-container,
    #reviews-container,
    .inside #footer {
        width: 100%;
    }

    #breadcrumb li{
        font-size: 20px;
    }

    #restaurant-container {
        padding-top: 20px;
    }

    /* reviews */
    .reviews-item {
        border-radius: 15px 0;
    }
    .reviews-name {
        float: left;
        width: 48%;
        background-color: #252831;
        color: white;
        padding-left: 2%;
        border-radius: 3px 0 0 3px;
        border-right: none;
    }
    .reviews-date {
        float: right;
        width: 48%;  
        background-color: #252831;
        color: white;
        text-align: right;
        padding-right: 2%;
        border-radius: 0 3px 3px 0;                                        
    }
    .reviews-rating {
        clear: both;
        background-color: #f58500;
        color: white;
        border-radius: 3px; 
        padding-left: 2%;
    }

}